/* styles css OpenLayers */
@import '~ol/ol.css';
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,700&display=swap');

body {
  font-family: 'Muli', sans-serif;
}

/* ---------------------
Base layout in App.vue 
-----------------------*/
#app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header header header"
  "navbar map map map map"
}

.header {
  grid-area: header;
  background-color: black;
  color: white;
  height: 4em;
  position: sticky; 
  top: 0;
  z-index: 1;
  border: solid 0.1em #3e4750;
  border-bottom-color: #1f6a75;
}

.header h1 {
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

@media (max-width: 1024px) {
  #app {
    grid-template-areas: 
    "header header header header header"
    "map map map map map"
  }
  .header {
    height: 2em;
  }
  .header h1 {
    font-size: small;
  }
}
.title-vue {
  color: #41b882;
}

.title-openlayers {
  color: #52c4d5;
}

/*---------------
The maps pages
-----------------*/
.container {
  position: relative;
  grid-area: map;
  height: 1000px;
}

/*---------------
The left menu 
----------------*/
.navbar {
  grid-area: navbar;
  position: relative;
  background-color: #3e4750;
}

.navbar-list {
  overflow: auto;
  height: 90%;
  position: fixed;
}

.navbar-home {
  color: white;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.navabar-home-link {
  color: white;
  padding-top: 3rem ;
  font-size: 1.2rem;
  text-decoration: none;
}
  
  .navbar-subtitle {
    color: rgb(150, 200, 142);
    padding: 1.5rem 1.5rem 1rem 1rem;
    font-size: 1.2vw;
    font-weight: 200;
    text-decoration: underline;
  }

.navbar-item  {
  display: flex;
  color: rgb(192, 192, 192);
  text-decoration: none;
  font-size: 1vw;
  font-weight: 300;
  padding: 0.5em;
}

.navbar-item:hover {
  color: #ffffff;
}

.router-link-exact-active{
  color: #ffffff;
  font-weight: 400;
}

/*-------
Maps 
---------*/ 
#map {
  height: 80vh;
  width: 80%;
  margin: auto;
}

@media (max-width: 1024px) {
  #map {
    width: 95%;
    margin: auto;
    height: 20em;
  }
}

/*-----------------
Higthliting code 
-------------------*/
.map-code {
  width: 80%;
  margin: auto;
}

/* Highlighting code description*/
.description {
  padding: 2em 0 2em 0;
  width: 80%;
  margin: auto;
  font-size:medium;
  line-height: 1.3;
}

.hl-tag {
  padding-left: 5px;
}

.hl-tag1 {
  padding-left: 10px;
}

.hl-tag2 {
  padding-left: 15px;
}

@media (max-width: 1024px) {
  .description {
    padding: 2em 0 2em 0;
    width: 90%;
    font-size: small;
    margin: auto;
  }

  .map-code {
    width: 100%;
    margin: auto;
    font-size: small;
  }
}

.capitalize {
  text-transform: capitalize;
  color: #41b882;
  font-weight: bold;
}

.option {
  background-color: #e2e3e5;
  padding: 0.1em 0.3em 0.1em 0.3em;
  border-radius: 5px;
}

.warning {
  background-color: #f8d7db;
  padding: 0.1em 0.3em 0.1em 0.3em;
  border-radius: 5px;
}

.openlayers-link {
  color: #d63200;
}

.diagram {
  display: block;
  margin-left: auto;
  margin-right: auto
}

@media (max-width: 1024px){
  .diagram {
    width: 100%;
    margin: auto;
  }
}